[submodule "test/support/CppUTest"]
	path = test/support/CppUTest
	url = git@github.com:blalor/CppUTest.git
[submodule "main/support/libtimer"]
	path = main/support/libtimer
	url = https://github.com/blalor/AVR_LibTimer.git
[submodule "test/support/MockAVR"]
	path = test/support/MockAVR
	url = https://github.com/blalor/MockAVR.git
[submodule "main/support/softuart"]
	path = main/support/softuart
	url = https://github.com/blalor/AVR_SoftwareUART.git
[submodule "main/support/scheduler"]
	path = main/support/scheduler
	url = https://github.com/blalor/AVR_Scheduler.git
